#couples-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.couples-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: whitesmoke;
  width: 350px;
  overflow: hidden;
}

.couples-image {
  /* height: 90rem; */
  flex-grow: 2;
  object-fit: cover; /* Ensures the image covers the entire div without distortion */
  border-radius: 16px 16px 9 0; /* Rounds the top corners */
  transition: transform 0.9s ease; /*scaling happen gradually over 0.3 seconds with an easing function.*/
}

.couples-image:hover {
  transform: scale(1.05); /* Slightly enlarges image */
}

.description {
  padding: 0 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

#footer-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url("../assets/images/b&g\ footer.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-top: 3px solid gainsboro;
}

#footer-banner > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}
