nav {
  background-color: sienna;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
}

nav ul li a {
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 1rem;
}

nav ul li a:hover {
  background-color: #fff; /* Hover effect */
  color: #000;
}
