#hero {
  height: 400px;
  background-image: url("../assets/images/banner-img-2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#hero-background-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Transperent Background */
}

.date-info {
  color: white;
  font-family: "Comic Neue", Helvetica, sans-serif;
  text-align: center;
}

.wedding-info {
  color: white;
  margin: 0;
  padding: 16px;
  text-align: center;
  font-family: "Shadows Into Light", Helvetica, sans-serif;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

wedding-info > i,
h2,
i {
  display: inline-block;
}

/* Couple section */

.happy {
  color: sienna;
}
#couples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 8rem;
  /* background-color: darkblue; */
}
article.couples-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  background-color: sienna;
  border: 0 solid sienna;
  border-radius: 16px;
  width: 350px;
  height: 500px;
  overflow: hidden; /* Ensures images don't overflow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}
.couples-info img {
  flex-grow: 2;
  object-fit: cover; /* Ensures the image covers the entire div without distortion */
  border-radius: 16px 16px 9 0; /* Rounds the top corners */
  transition: transform 0.9s ease; /*scaling happen gradually over 0.3 seconds with an easing function.*/
}
.couples-info img:hover {
  transform: scale(1.05); /* Slightly enlarges image */
}
.couples-name {
  color: rgb(239, 239, 239);
}

.status {
  border: 3px solid #fff;
  border-radius: 6px;
  padding: 0px 10px;
  font-weight: 200;
  font-family: "poppins", Helvetica, sans-serif;
}

@media (max-width: 360px) {
  .blurb {
    text-align: justify;
  }
}

/* Count down Section */
#count-down {
  height: 400px;
  background-image: url("../assets/images/time.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#count-down-background-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.event-address {
  max-width: fit-content;
  color: white;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
#count-down-objects {
  color: white;
  text-align: center;
  rotate: -4deg;
  transition: transform 0.3s ease-in-out; /* Add transition */
}

#count-down-objects:hover {
  transform: rotate(4deg); /* Correct rotation syntax */
}

/* The Wedding */

#event-details {
  display: flex;
  flex-direction: row;
  /* padding: 8rem 2rem; */
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.details {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image-container {
  height: 200px;
  background-image: url("../assets/images/location.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 2rem;
  transition: transform 0.9s ease;
}

.image-container:hover {
  transform: scale(1.02);
}
.image-container2 {
  height: 200px;
  background-image: url("../assets/images/gift.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 2rem;
  transition: transform 0.9s ease;
}

.image-container2:hover {
  transform: scale(1.02);
}
.image-container3 {
  height: 200px;
  background-image: url("../assets/images/accomodation.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 2rem;
  transition: transform 0.9s ease;
}

.image-container3:hover {
  transform: scale(1.02);
}

.image-line {
  border: 2px solid white;
  height: 100%;
}

.des-container {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
  background-color: white;
  text-align: left;
}

/* Footer */
.footer-image-container {
  height: 400px;
  background-image: url("../assets/images/thank-you.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.footer-image-container-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /*Text colors white*/
  gap: 2rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.thanks > h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  line-height: 0.7;
}
