<!-- Navigation -->
<nav class="navbar-container">
    <ul id="nav-menu">
        <li class="nav-menu-item">
            <a class="anchor" href="index.html">Home</a>
        </li>
        <i class="ri-heart-2-fill nav-heart-icon"></i>
        <li class="dropdown nav-menu-item">
            <a class="anchor" href="#">About</a>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-list-item">
                    <a href="about-couples.html">About</a>
                </li>
                <li class="dropdown-menu-list-item">
                    <a href="about-him.html">About Him</a>
                </li>
                <li class="dropdown-menu-list-item">
                    <a href="about-her.html">About Her</a>
                </li>
            </ul>
        </li>
        <i class="ri-heart-2-fill nav-heart-icon"></i>
        <li class="dropdown nav-menu-item">
            <a class="anchor" href="about-couples.html">Gallery</a>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-list-item">
                    <a href="#">Gallery</a>
                </li>
                <li class="dropdown-menu-list-item">
                    <a href="#">Gallery With Slider</a>
                </li>
                <li class="dropdown-menu-list-item">
                    <a href="#">Full Gallery - 5 Column</a>
                </li>
                <li class="dropdown-menu-list-item">
                    <a href="#">Full Gallery - 4 Column</a>
                </li>
                <li class="dropdown-menu-list-item">
                    <a href="#">Full Gallery - 3 Column</a>
                </li>
            </ul>
        </li>
        <li class="nav-menu-item">
            <!-- Logo starts here -->
            <a href="index.html">
                <div class="css-logo">
                    <div class="logo-text">
                        <Strong>J</Strong>
                        <i class="ri-heart-2-fill logo-icon"></i>
                        <strong>J</strong>
                    </div>
                </div>
            </a>
            <!-- Logo ends here -->
        <li class="nav-menu-item">
            <a class="anchor" href="#">The Story</a>
        </li>
        <i class="ri-heart-2-fill nav-heart-icon"></i>
        <li class="nav-menu-item">
            <a class="anchor" href="#">The Wedding</a>
        </li>
        <i class="ri-heart-2-fill nav-heart-icon"></i>
        <li class="nav-menu-item">
            <a class="anchor" href="#">Blog</a>
        </li>
    </ul>

    <div id="mobile-logo-container">
        <!-- Logo -->
        <a href="index.html">
            <div class="css-logo">
                <div class="logo-text">
                    <Strong>J</Strong>
                    <i class="ri-heart-2-fill logo-icon"></i>
                    <strong>J</strong>
                </div>
            </div>
        </a>
    </div>

    <!-- Hamburger Icon + Checkbox -->
    <input type="checkbox" id="mobile-menu-toggle" />
    <label for="mobile-menu-toggle">
        <i class="ri-menu-line mobile-menu-icon"></i>
    </label>
    <!-- Header ends here -->

    <ul id="mobile-menu-container">
        <li class="mobile-menu-list-item">
            <a href="index.html">Home</a>
        </li>
        <li class="dropdown-list">
            <input type="checkbox" id="toggle-about">
            <label for="toggle-about" class="dropdown-label">
                <!-- <a href="about-couples.html">About</a> -->
                About
                <i class="ri-arrow-drop-down-fill"></i>
            </label>
            <ul class="mobile-dropdown-menu-container-about">
                <li class="mobile-dropdown-menu-list-item">
                    <a href="about-couples.html">-About</a>
                </li>
                <li class="mobile-dropdown-menu-list-item">
                    <a href="about-him.html">-About Him</a>
                </li>
                <li class="mobile-dropdown-menu-list-item">
                    <a href="about-her.html">-About Her</a>
                </li>
            </ul>
        </li>
        <li class="dropdown-list">
            <input type="checkbox" id="toggle-gallery">
            <label for="toggle-gallery" class="dropdown-label">
                Gallery
                <i class="ri-arrow-drop-down-fill"></i>
            </label>
            <ul class="mobile-dropdown-menu-container-gallery">
                <li class="mobile-dropdown-menu-list-item">
                    <a href="#">-Gallery</a>
                </li>
                <li class="mobile-dropdown-menu-list-item">
                    <a href="#">-Gallery with slider</a>
                </li>
            </ul>
        </li>

        <li class="mobile-menu-list-item">
            <a href="#">The Story</a>
        </li>

        <li class="mobile-menu-list-item">
            <a href="#">The Wedding</a>
        </li>

        <li class="mobile-menu-list-item">
            <a href="#">Blog</a>
        </li>
    </ul>
</nav>